DirectoryIndex index.html index.php

# BEGIN WordPress
# As diretrizes (linhas) entre "BEGIN WordPress" e "END WordPress" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^apple-touch-icon\.png /wp-content/uploads/fbrfg/apple-touch-icon.png [QSA,L]
RewriteRule ^favicon-96x96\.png /wp-content/uploads/fbrfg/favicon-96x96.png [QSA,L]
RewriteRule ^favicon\.ico /wp-content/uploads/fbrfg/favicon.ico [QSA,L]
RewriteRule ^favicon\.svg /wp-content/uploads/fbrfg/favicon.svg [QSA,L]
RewriteRule ^site\.webmanifest /wp-content/uploads/fbrfg/site.webmanifest [QSA,L]
RewriteRule ^web-app-manifest-192x192\.png /wp-content/uploads/fbrfg/web-app-manifest-192x192.png [QSA,L]
RewriteRule ^web-app-manifest-512x512\.png /wp-content/uploads/fbrfg/web-app-manifest-512x512.png [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress